<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">

			{% if request.user.is_authenticated %}
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							{{ request.user.username }}
							<span class="user-level">
								{{ request.user.email }}
							</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">My Profile</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="link-collapse">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">View</h4>
				</li>
				<li class="nav-item {% if 'index' in segment %} active {% endif %}">
					<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Dashboard</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="dashboard">
						<ul class="nav nav-collapse">
							<li>
								<a href="/index.html">
									<span class="sub-item">Analytics</span>
								</a>
							</li>
							<li>
								<a href="/index.html">
									<span class="sub-item">Reporting</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item {% if 'index' in segment %} active {% endif %}">
					<a data-toggle="collapse" href="#items" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Items</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="items">
						<ul class="nav nav-collapse">
							<li>
								<a href="/index.html">
									<span class="sub-item">Materials</span>
								</a>
							</li>
							<li>
								<a href="/index.html">
									<span class="sub-item">Products</span>
								</a>
							</li>
							<li>
								<a href="/index.html">
									<span class="sub-item">Consumables</span>
								</a>
							</li>
							<li>
								<a href="/index.html">
									<span class="sub-item">Tools</span>
								</a>
							</li>
							<li>
								<a href="/index.html">
									<span class="sub-item">Fibers</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Create</h4>
				</li>
				<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
					<a data-toggle="collapse" href="#createItems">
						<i class="fas fa-layer-group"></i>
						<p>Item</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="createItems">
						<ul class="nav nav-collapse">
							<li>
								<a href="{% url 'core:create' 'Material' %}">
									<span class="sub-item">Material</span>
								</a>
							</li>
							<li>
								<a href="{% url 'core:create' 'Product' %}">
									<span class="sub-item">Product</span>
								</a>
							</li>
							<li>
								<a href="{% url 'core:create' 'Consumable' %}">
									<span class="sub-item">Consumable</span>
								</a>
							</li>
							<li>
								<a href="{% url 'core:create' 'Tool' %}">
									<span class="sub-item">Tool</span>
								</a>
							</li>
							<li>
								<a href="{% url 'core:create' 'Fiber' %}">
									<span class="sub-item">Fiber</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
					<a href="{% url 'core:task' 'Consume' %}">
						<i class="fas fa-layer-group"></i>
						<p>Consume</p>
					</a>
				</li>
				<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
					<a href="#">
						<i class="fas fa-layer-group"></i>
						<p>Convert</p>
					</a>
				</li>
				<li class="nav-item {% if 'layout' in segment %} active {% endif %}">
					<a data-toggle="collapse" href="#createMovement">
						<i class="fas fa-th-list"></i>
						<p>Movement</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="createMovement">
						<ul class="nav nav-collapse">
							<li>
								<a href="{% url 'core:task' 'Inbound' %}">
									<span class="sub-item">Inbound</span>
								</a>
							</li>
							<li>
								<a href="{% url 'core:task' 'Outbound' %}">
									<span class="sub-item">Outbound</span>
								</a>
							</li>
							<li>
								<a href="/layout-compact-sidebar.html">
									<span class="sub-item">Transfer</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#submenu">
						<i class="fas fa-bars"></i>
						<p>Menu Levels</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="submenu">
						<ul class="nav nav-collapse">
							<li>
								<a data-toggle="collapse" href="#subnav1">
									<span class="sub-item">Level 1</span>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="subnav1">
									<ul class="nav nav-collapse subnav">
										<li>
											<a href="#">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a data-toggle="collapse" href="#subnav2">
									<span class="sub-item">Level 1</span>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="subnav2">
									<ul class="nav nav-collapse subnav">
										<li>
											<a href="#">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">
									<span class="sub-item">Level 1</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			{% else %}
			<ul class="nav nav-primary">
				<li class="mx-4 mt-2">
					<a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark-pro"
						class="btn btn-danger btn-block">
						<span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>PRO Version</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
</div>
<!-- End Sidebar -->
