{% load static %}

<div class="table-responsive">
  <table id="basic-datatables" class="display table table-striped table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Location</th>
        <th>Quantity</th>
        {% if page_type != "confirm_task" %}
        <th></th>
        {% endif %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Location</th>
        <th>Quantity</th>
        {% if page_type != "confirm_task" %}
        <th></th>
        {% endif %}
      </tr>
    </tfoot>
    <tbody>
      {% for inventory_item in inventory_listing %}
      <tr>
        <td>{{ inventory_item.item.name }}</td>
        <td>{{ inventory_item.item.type.name }}</td>
        <td>{{ inventory_item.location.name }}</td>
        <td>{{ inventory_item.quantity }}</td>
        {% if page_type == "select_task" %}
        <td>
          <button class="btn btn-success mb-3">
            <a
              href="{% url 'core:task_confirm' task_type inventory_item.item.uuid %}?inventory={{ inventory_item.id }}">Select</a>
          </button>
        </td>
        {% elif page_type == "select_material" %}
        <td>
          <button class="btn btn-success mb-3">
            <a href="{% url 'core:convert_material_consumption' convert_task_id material.id inventory_item.location.uuid %}">Select</a>
          </button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
