{% load static %}

<div class="table-responsive">
  <table id="basic-datatables" class="display table table-striped table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      {% for material in material_listing %}
      <tr>
        <td>{{ material.item.name }}</td>
        <td>{{ material.item.type.name }}</td>
        <td>
          {% if material.item.id in consumption_list_item_ids %}
          <button disabled class="btn btn-done mb-3">Done</button>
          {% else %}
          <a type="button" class="btn btn-success mb-3"
            href="{% url 'core:convert_material_locations' convert_task_id material.id %}">Start</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
