{% load static %}

<div class="table-responsive">
  <table id="basic-datatables" class="display table table-striped table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Type</th>
        <th>Item</th>
        {% if task_type == 'Transfer' %}
        <th>From Location</th>
        <th>To Location</th>
        {% else %}
        <th>Location</th>
        {% endif %}
        <th>Quantity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Task</th>
        <th>Type</th>
        <th>Item</th>
        <th>Location</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>
    </tfoot>
    <tbody>
      {% for task in task_listing %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ task.type.name }}</td>
        <td>{{ task.item.name }}</td>
        {% if task_type == 'Transfer' %}
        <td>{{ task.transfer_from_location }}</td>
        <!-- <td>INSERT FROM LOCATION</td> -->
        <td>{{ task.location }}</td>
        {% else %}
        <td>
          {% if task.location.name == None %}
          Pending
          {% else %}
          {{ task.location.name }}
          {% endif %}
        </td>
        {% endif %}
        <td>
          {% if task.quantity == None %}
          Pending
          {% else %}
          {{ task.quantity }}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'core:task_details' task.id %}">{{ task.latest_status }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
