{% extends "base-vue.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="convertMaterials">
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Convert</h2>
						<h5 class="text-white op-7 mb-2">Select materials for conversion task</h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
						<a href="#" class="btn btn-secondary btn-round">Add Customer</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Select {{ product }} materials</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8 ml-auto mr-auto">
									<label class="mb-3"><b>Select Materials:</b></label>
									<div class="inline-form-group">
										<div class="form-group form-group-default inline-form-group">
											<label>Select</label>
											<select v-model="selected" class="form-control" id="formGroupDefaultSelect" name="material">
												<option @click="onSelect" v-for="material in materials" :value="material">[[ material.name ]]
												</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- <ul v-for="selectedMaterial in selectedMaterials">
										<li>[[ selectedMaterial.name ]] <span>X</span></li>
									</ul> -->
								<div class="col-md-6 ml-auto mr-auto">
									<div class="card">
										<div class="card-header">
											<div class="card-title">Selected Materials</div>
										</div>
										<div class="card-body pb-0" v-for="(selectedMaterial,index) in selectedMaterials" :key="index">
											<div class="d-flex">
												<div class="flex-1 pt-1 ml-2">
													<h4 class="fw-bold mb-1">[[ selectedMaterial.name ]]</h4>
												</div>
												<div class="d-flex ml-auto align-items-center">
													<h3 @click="selectedMaterials.splice(index, 1)" class="text-danger fw-bold">X</h3>
												</div>
											</div>
											<div class="separator-dashed"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button @click="onConfirm" class="btn btn-success mb-3">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ product_uuid|json_script:"product_uuid" }}
{% csrf_token %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

	const product_uuid = JSON.parse(document.getElementById('product_uuid').textContent);

	var app = new Vue({
		delimiters: ["[[", "]]"],
		el: '#convertMaterials',
		components: {
		},
		data: {
			csrftoken: document.querySelector('[name=csrfmiddlewaretoken]').value,
			endpoints: {
				get_materials: `/api/materials/`,
				confirm_materials: '/api/confirm-convert-materials/',
			},
			// product_uuid: product_uuid,
			materials: [],
			selected: null,
			selectedMaterials: [],
		},
		created: function () {
			this.getMaterials()
		},
		methods: {
			getMaterials: async function () {
				try {
					materials_info = await axios.get(this.endpoints['get_materials']);
					this.materials = materials_info.data;
				} catch (error) {
					console.error("Error: ", error);
				}
			},
			onSelect: function () {
				if (!this.selectedMaterials.includes(this.selected)) {
					this.selectedMaterials.push(this.selected)
					this.selected = null
				}
			},
			onConfirm: async function () {
				const data = {
					product_uuid: product_uuid,
					selectedMaterials: this.selectedMaterials,
				}
				try {
					response = await axios.post(
						this.endpoints['confirm_materials'],
						data,
						{ headers: { 'X-CSRFToken': this.csrftoken, } })
					if (response.status === 200) {
						console.log(response)
						const convertTaskId = response.data.convertTaskId
						window.location.replace(`/task/Convert/main/${convertTaskId}/`);
					}
				} catch (error) {
					console.error("Error: ", error);
				}
			}
		},
	});
</script>
{% endblock javascripts %}
